@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
  }
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  
  .map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
  }

  button {
    transition: transform 0.1s ease-out;
    cursor: pointer;
  }

  button:active {
    transform: scale(0.95);
  }

  .stop-name-banner {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: fit-content;
    background-color: #4CAF50;
    color: white;
    padding: 8px 10px;
    font-family: Roboto, sans-serif;
    font-size: 1.2em;
    text-align: center;
    border-radius: 12px;
    z-index: 1;
  }
